 Binaries for programs and plugins


# *.exe
# *.exe~
# *.dll
# *.so

*.tgz
*.dylib
*.idea
# Test binary, built with `go test -c`

# *.test
.idea
*.git

/fatal
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
pcap
go.sum

*.log
build/pkg
.air.conf
*.exe
*.gz

*_debug*